.body {
  font-family: 'Times New Roman', Times, serif;
}

.header {
  background-color: #1F2937;
  color: white;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-left: 50px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header-link-one,
.header-link-two {
  margin-right: 15px;
}

.header-link-three {
  margin-right: 50px;
}

.hero {
  background: #1F2937;
  display: flex;
}

.hero-left {
  margin-left: 50px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  color: #F9FAF8;
  border: none;
  width: 65px;
  height: 22px;
  border-radius: 4px;
  font-size: 10px;
}

 
